.card-content {
    background-color: #D3D3D3;
    padding: 20px 0;
    padding-top: 0;
}

.card-image {
    position: relative;
    margin: 0 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.card-image-content {
    img {
        display: flex;
        width: 100%;
        height: auto;
    }

}

.card-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 15px;
}

.card-buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2;
    display: flex;
    gap: 10px;
}

.download,
.heart,
.delete {
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.card__select {
    width: 100%;
    background-color: #D3D3D3;
    padding-left: 20px;
    position: relative;
    z-index: 2;
    margin-bottom: 0;

    select {
        background-color: transparent;
        border: none;
        outline: none;
        font-family: "Gurajada", sans-serif;
        direction: rtl;
        text-align: center;
        font-size: 30px;
        font-weight: 90;
    }
}

.card-favourites {
    .title {
        font-family: "Cutive", serif;
        text-align: center;
        padding: 40px 50px;
        font-size: 1.5em;
    }
}
