.card-content {
    background-color: #D3D3D3;
    padding: 20px 0;
    padding-top: 0;
}

.card-image {
    position: relative;
    margin: 0 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    height: fit-content;
}

.select {
    color: black;
}

.card-image-content {
    img {
        display: flex;
        width: 100%;
        height: auto;
    }

}

.card-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.2);

}

.card-data {
    position: absolute;
    color: white;
    bottom: 10px;
    left: 10px;
    z-index: 2;
    font-size: 12px;
    font-family: "Cutive", serif;

    p {
        padding-top: 2px;
    }
}

.card-buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2;
    display: flex;
    gap: 10px;
}

.download,
.heart,
.delete,
.description {
    color: white;
    font-size: 25px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.heart.true {
    background-color: white;
    color: black;
    border-radius: 20%;
    transform: scale(1.2);
}

.card__select {
    width: 100%;
    background-color: #D3D3D3;
    padding-left: 20px;
    position: relative;
    z-index: 2;
    margin-bottom: 0;

    select {
        background-color: transparent;
        border: none;
        outline: none;
        font-family: "Gurajada", sans-serif;
        direction: rtl;
        text-align: center;
        font-size: 30px;
        font-weight: 90;
    }
}

.card-favourites {

    .title {
        font-family: "Open Sans", serif;
        text-align: center;
        padding: 40px 50px;
        font-size: 1.4em;
        font-weight: 100;
    }
}



@media only screen and (min-width: 500px) {

    .card-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 30px;
        padding: 0 40px;
        grid-auto-rows: auto;
        padding-bottom: 40px;
    }

    .card-image {
        margin: 0;
    }

    .card-image.wide {
        grid-column: span 2;
    }

    .card__select {
        select {
            font-size: 40px;
            margin-left: 1em;
        }
    }

    .card-buttons {
        gap: 10px;
    }

    .download,
    .heart,
    .delete,
    .description {
        font-size: 30px;
    }

    .card-data {
        position: absolute;
        color: white;
        bottom: 10px;
        left: 10px;
        z-index: 2;
        font-size: 16px;
        font-family: "Cutive", serif;

        p {
            padding-top: 4px;
        }
    }

    .card-favourites {
        .title {
            font-size: 2em;
        }
    }
}